--
-- PostgreSQL database dump
--

\restrict 5bfJdKwrVgXA0WXEqNwgFghZqSXBkvf9L99fsau6JE8ega7j7VsBvOJMcV3lZeh

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assignment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assignment (
    id integer NOT NULL,
    member_id integer NOT NULL,
    role_id integer NOT NULL,
    mandate_id integer NOT NULL,
    collectivity_id integer,
    federation_id integer,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT assignment_check CHECK ((((collectivity_id IS NOT NULL) AND (federation_id IS NULL)) OR ((collectivity_id IS NULL) AND (federation_id IS NOT NULL))))
);


ALTER TABLE public.assignment OWNER TO postgres;

--
-- Name: assignment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assignment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assignment_id_seq OWNER TO postgres;

--
-- Name: assignment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assignment_id_seq OWNED BY public.assignment.id;


--
-- Name: collectivity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.collectivity (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    location character varying(255) NOT NULL,
    agricultural_specialty character varying(255) NOT NULL,
    registration_number integer NOT NULL,
    creation_date date DEFAULT CURRENT_DATE NOT NULL,
    federation_approval boolean DEFAULT false NOT NULL,
    federation_id integer,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    unique_name character varying(255),
    official_number character varying(100)
);


ALTER TABLE public.collectivity OWNER TO postgres;

--
-- Name: collectivity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.collectivity_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.collectivity_id_seq OWNER TO postgres;

--
-- Name: collectivity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.collectivity_id_seq OWNED BY public.collectivity.id;


--
-- Name: collectivity_transaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.collectivity_transaction (
    id integer NOT NULL,
    collectivity_id integer NOT NULL,
    member_id integer NOT NULL,
    membership_fee_id integer NOT NULL,
    financial_account_id integer NOT NULL,
    amount numeric(12,2) NOT NULL,
    payment_mode character varying(20) NOT NULL,
    payment_date date DEFAULT CURRENT_DATE NOT NULL,
    status character varying(20) DEFAULT 'COMPLETED'::character varying NOT NULL,
    transaction_reference character varying(255),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT collectivity_transaction_amount_check CHECK ((amount > (0)::numeric)),
    CONSTRAINT collectivity_transaction_payment_mode_check CHECK (((payment_mode)::text = ANY ((ARRAY['CASH'::character varying, 'MOBILE_BANKING'::character varying, 'BANK_TRANSFER'::character varying])::text[]))),
    CONSTRAINT collectivity_transaction_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'COMPLETED'::character varying, 'FAILED'::character varying])::text[])))
);


ALTER TABLE public.collectivity_transaction OWNER TO postgres;

--
-- Name: collectivity_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.collectivity_transaction_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.collectivity_transaction_id_seq OWNER TO postgres;

--
-- Name: collectivity_transaction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.collectivity_transaction_id_seq OWNED BY public.collectivity_transaction.id;


--
-- Name: federation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.federation (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.federation OWNER TO postgres;

--
-- Name: federation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.federation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.federation_id_seq OWNER TO postgres;

--
-- Name: federation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.federation_id_seq OWNED BY public.federation.id;


--
-- Name: financial_account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.financial_account (
    id integer NOT NULL,
    collectivity_id integer NOT NULL,
    account_type character varying(20) NOT NULL,
    balance numeric(15,2) DEFAULT 0.0,
    holder_name character varying(255),
    service_name character varying(50),
    account_details character varying(255),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    amount numeric(12,2) DEFAULT 0,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.financial_account OWNER TO postgres;

--
-- Name: financial_account_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.financial_account_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.financial_account_id_seq OWNER TO postgres;

--
-- Name: financial_account_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.financial_account_id_seq OWNED BY public.financial_account.id;


--
-- Name: mandate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mandate (
    id integer NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT mandate_check CHECK ((end_date > start_date))
);


ALTER TABLE public.mandate OWNER TO postgres;

--
-- Name: mandate_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mandate_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mandate_id_seq OWNER TO postgres;

--
-- Name: mandate_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.mandate_id_seq OWNED BY public.mandate.id;


--
-- Name: member; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.member (
    id integer NOT NULL,
    first_name character varying(255) NOT NULL,
    last_name character varying(255) NOT NULL,
    birth_date date NOT NULL,
    gender character varying(10) NOT NULL,
    address text,
    profession character varying(255),
    phone_number character varying(20) NOT NULL,
    email character varying(255),
    occupation character varying(50),
    join_date date DEFAULT CURRENT_DATE NOT NULL,
    registration_fee_paid boolean DEFAULT false NOT NULL,
    membership_dues_paid boolean DEFAULT false NOT NULL,
    payment_proof_ref character varying(255),
    admission_status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT member_admission_status_check CHECK (((admission_status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[]))),
    CONSTRAINT member_gender_check CHECK (((gender)::text = ANY ((ARRAY['MALE'::character varying, 'FEMALE'::character varying])::text[])))
);


ALTER TABLE public.member OWNER TO postgres;

--
-- Name: member_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.member_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.member_id_seq OWNER TO postgres;

--
-- Name: member_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.member_id_seq OWNED BY public.member.id;


--
-- Name: member_payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.member_payment (
    id integer NOT NULL,
    member_id integer NOT NULL,
    membership_fee_id integer NOT NULL,
    financial_account_id integer NOT NULL,
    amount numeric(12,2) NOT NULL,
    payment_mode character varying(20) NOT NULL,
    payment_date date DEFAULT CURRENT_DATE NOT NULL,
    status character varying(20) DEFAULT 'COMPLETED'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT member_payment_amount_check CHECK ((amount > (0)::numeric)),
    CONSTRAINT member_payment_payment_mode_check CHECK (((payment_mode)::text = ANY ((ARRAY['CASH'::character varying, 'MOBILE_BANKING'::character varying, 'BANK_TRANSFER'::character varying])::text[]))),
    CONSTRAINT member_payment_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'COMPLETED'::character varying, 'FAILED'::character varying])::text[])))
);


ALTER TABLE public.member_payment OWNER TO postgres;

--
-- Name: member_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.member_payment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.member_payment_id_seq OWNER TO postgres;

--
-- Name: member_payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.member_payment_id_seq OWNED BY public.member_payment.id;


--
-- Name: membership; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.membership (
    id integer NOT NULL,
    member_id integer NOT NULL,
    collectivity_id integer NOT NULL,
    joined_at date DEFAULT CURRENT_DATE NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.membership OWNER TO postgres;

--
-- Name: membership_fee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.membership_fee (
    id integer NOT NULL,
    collectivity_id integer NOT NULL,
    eligible_from date NOT NULL,
    frequency character varying(20) NOT NULL,
    amount numeric(12,2) NOT NULL,
    label character varying(255),
    status character varying(20) DEFAULT 'ACTIVE'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT membership_fee_amount_check CHECK ((amount >= (0)::numeric)),
    CONSTRAINT membership_fee_frequency_check CHECK (((frequency)::text = ANY ((ARRAY['WEEKLY'::character varying, 'MONTHLY'::character varying, 'ANNUALLY'::character varying, 'PUNCTUALLY'::character varying])::text[]))),
    CONSTRAINT membership_fee_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE public.membership_fee OWNER TO postgres;

--
-- Name: membership_fee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.membership_fee_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.membership_fee_id_seq OWNER TO postgres;

--
-- Name: membership_fee_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.membership_fee_id_seq OWNED BY public.membership_fee.id;


--
-- Name: membership_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.membership_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.membership_id_seq OWNER TO postgres;

--
-- Name: membership_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.membership_id_seq OWNED BY public.membership.id;


--
-- Name: role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.role OWNER TO postgres;

--
-- Name: role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.role_id_seq OWNER TO postgres;

--
-- Name: role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.role_id_seq OWNED BY public.role.id;


--
-- Name: sponsorship; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sponsorship (
    id integer NOT NULL,
    member_id integer NOT NULL,
    sponsor_member_id integer NOT NULL,
    sponsor_collectivity_id integer,
    relationship character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT sponsorship_relationship_check CHECK (((relationship)::text = ANY ((ARRAY['FAMILY'::character varying, 'FRIENDS'::character varying, 'COLLEAGUES'::character varying, 'OTHER'::character varying])::text[])))
);


ALTER TABLE public.sponsorship OWNER TO postgres;

--
-- Name: sponsorship_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sponsorship_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sponsorship_id_seq OWNER TO postgres;

--
-- Name: sponsorship_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sponsorship_id_seq OWNED BY public.sponsorship.id;


--
-- Name: assignment id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignment ALTER COLUMN id SET DEFAULT nextval('public.assignment_id_seq'::regclass);


--
-- Name: collectivity id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectivity ALTER COLUMN id SET DEFAULT nextval('public.collectivity_id_seq'::regclass);


--
-- Name: collectivity_transaction id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectivity_transaction ALTER COLUMN id SET DEFAULT nextval('public.collectivity_transaction_id_seq'::regclass);


--
-- Name: federation id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.federation ALTER COLUMN id SET DEFAULT nextval('public.federation_id_seq'::regclass);


--
-- Name: financial_account id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financial_account ALTER COLUMN id SET DEFAULT nextval('public.financial_account_id_seq'::regclass);


--
-- Name: mandate id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mandate ALTER COLUMN id SET DEFAULT nextval('public.mandate_id_seq'::regclass);


--
-- Name: member id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member ALTER COLUMN id SET DEFAULT nextval('public.member_id_seq'::regclass);


--
-- Name: member_payment id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_payment ALTER COLUMN id SET DEFAULT nextval('public.member_payment_id_seq'::regclass);


--
-- Name: membership id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership ALTER COLUMN id SET DEFAULT nextval('public.membership_id_seq'::regclass);


--
-- Name: membership_fee id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership_fee ALTER COLUMN id SET DEFAULT nextval('public.membership_fee_id_seq'::regclass);


--
-- Name: role id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role ALTER COLUMN id SET DEFAULT nextval('public.role_id_seq'::regclass);


--
-- Name: sponsorship id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sponsorship ALTER COLUMN id SET DEFAULT nextval('public.sponsorship_id_seq'::regclass);


--
-- Data for Name: assignment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: collectivity; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: collectivity_transaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.collectivity_transaction (id, collectivity_id, member_id, membership_fee_id, financial_account_id, amount, payment_mode, payment_date, status, transaction_reference, created_at, updated_at) FROM stdin;
1	1	1	5	1	50000.00	CASH	2026-04-23	COMPLETED	\N	2026-04-23 08:31:19.164637+02	2026-04-23 08:31:19.164637+02
2	1	1	5	1	50000.00	CASH	2026-04-23	COMPLETED	\N	2026-04-23 09:28:21.683047+02	2026-04-23 09:28:21.683047+02
3	1	1	5	1	50000.00	CASH	2026-04-23	COMPLETED	\N	2026-04-23 12:19:25.735666+02	2026-04-23 12:19:25.735666+02
\.


--
-- Data for Name: federation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.federation (id, name, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: financial_account; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.financial_account (id, collectivity_id, account_type, balance, holder_name, service_name, account_details, created_at, amount, updated_at) FROM stdin;
2	1	MOBILE_BANKING	0.00	Coop Moramanga	MVOLA	\N	2026-04-22 15:40:23.206476+02	25000.00	2026-04-22 21:29:32.130151+02
101	1	MOBILE_MONEY	0.00	Raharinandrasana Willys	MVOLA	0340000000	2026-04-23 09:40:06.925058+02	0.00	2026-04-23 09:40:06.925058+02
1	1	CASH	0.00	Caisse Centrale Moramanga	CASH	\N	2026-04-22 15:40:23.206476+02	355000.00	2026-04-23 12:19:25.735666+02
\.


--
-- Data for Name: mandate; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mandate (id, start_date, end_date, created_at) FROM stdin;
1	2026-01-01	2026-12-31	2026-04-22 09:18:26.797782+02
\.


--
-- Data for Name: member; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: member_payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.member_payment (id, member_id, membership_fee_id, financial_account_id, amount, payment_mode, payment_date, status, created_at, updated_at) FROM stdin;
1	1	5	1	50000.00	CASH	2026-04-23	COMPLETED	2026-04-23 08:31:19.164637+02	2026-04-23 08:31:19.164637+02
2	1	5	1	50000.00	CASH	2026-04-23	COMPLETED	2026-04-23 09:28:21.683047+02	2026-04-23 09:28:21.683047+02
3	1	5	1	50000.00	CASH	2026-04-23	COMPLETED	2026-04-23 12:19:25.735666+02	2026-04-23 12:19:25.735666+02
\.


--
-- Data for Name: membership; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: membership_fee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.membership_fee (id, collectivity_id, eligible_from, frequency, amount, label, status, created_at, updated_at) FROM stdin;
1	1	2026-04-22	MONTHLY	5000.00	Cotisation Mensuelle Test	ACTIVE	2026-04-22 21:30:49.112408+02	2026-04-22 21:30:49.112408+02
5	1	2026-04-23	MONTHLY	50000.00	Frais adh├®sion K-Promotion	ACTIVE	2026-04-23 08:21:06.792525+02	2026-04-23 08:21:06.792525+02
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role (id, name, created_at) FROM stdin;
1	PRESIDENT	2026-04-22 09:12:55.61484+02
2	VICE_PRESIDENT	2026-04-22 09:12:55.61484+02
3	TREASURER	2026-04-22 09:12:55.61484+02
4	SECRETARY	2026-04-22 09:12:55.61484+02
5	SENIOR	2026-04-22 09:12:55.61484+02
6	JUNIOR	2026-04-22 09:12:55.61484+02
\.


--
-- Data for Name: sponsorship; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sponsorship (id, member_id, sponsor_member_id, sponsor_collectivity_id, relationship, created_at) FROM stdin;
\.


--
-- Name: assignment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assignment_id_seq', 16, true);


--
-- Name: collectivity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.collectivity_id_seq', 5, true);


--
-- Name: collectivity_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.collectivity_transaction_id_seq', 3, true);


--
-- Name: federation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.federation_id_seq', 1, false);


--
-- Name: financial_account_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.financial_account_id_seq', 2, true);


--
-- Name: mandate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mandate_id_seq', 1, true);


--
-- Name: member_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.member_id_seq', 23, true);


--
-- Name: member_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.member_payment_id_seq', 3, true);


--
-- Name: membership_fee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.membership_fee_id_seq', 1, true);


--
-- Name: membership_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.membership_id_seq', 40, true);


--
-- Name: role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.role_id_seq', 12, true);


--
-- Name: sponsorship_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sponsorship_id_seq', 1, false);


--
-- Name: assignment assignment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_pkey PRIMARY KEY (id);


--
-- Name: collectivity collectivity_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectivity
    ADD CONSTRAINT collectivity_name_key UNIQUE (name);


--
-- Name: collectivity collectivity_official_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectivity
    ADD CONSTRAINT collectivity_official_number_key UNIQUE (official_number);


--
-- Name: collectivity collectivity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectivity
    ADD CONSTRAINT collectivity_pkey PRIMARY KEY (id);


--
-- Name: collectivity collectivity_registration_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectivity
    ADD CONSTRAINT collectivity_registration_number_key UNIQUE (registration_number);


--
-- Name: collectivity_transaction collectivity_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectivity_transaction
    ADD CONSTRAINT collectivity_transaction_pkey PRIMARY KEY (id);


--
-- Name: collectivity collectivity_unique_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectivity
    ADD CONSTRAINT collectivity_unique_name_key UNIQUE (unique_name);


--
-- Name: federation federation_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.federation
    ADD CONSTRAINT federation_name_key UNIQUE (name);


--
-- Name: federation federation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.federation
    ADD CONSTRAINT federation_pkey PRIMARY KEY (id);


--
-- Name: financial_account financial_account_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financial_account
    ADD CONSTRAINT financial_account_pkey PRIMARY KEY (id);


--
-- Name: mandate mandate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mandate
    ADD CONSTRAINT mandate_pkey PRIMARY KEY (id);


--
-- Name: member member_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT member_email_key UNIQUE (email);


--
-- Name: member_payment member_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_payment
    ADD CONSTRAINT member_payment_pkey PRIMARY KEY (id);


--
-- Name: member member_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT member_pkey PRIMARY KEY (id);


--
-- Name: membership_fee membership_fee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership_fee
    ADD CONSTRAINT membership_fee_pkey PRIMARY KEY (id);


--
-- Name: membership membership_member_id_collectivity_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership
    ADD CONSTRAINT membership_member_id_collectivity_id_key UNIQUE (member_id, collectivity_id);


--
-- Name: membership membership_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership
    ADD CONSTRAINT membership_pkey PRIMARY KEY (id);


--
-- Name: role role_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_name_key UNIQUE (name);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: sponsorship sponsorship_member_id_sponsor_member_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sponsorship
    ADD CONSTRAINT sponsorship_member_id_sponsor_member_id_key UNIQUE (member_id, sponsor_member_id);


--
-- Name: sponsorship sponsorship_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sponsorship
    ADD CONSTRAINT sponsorship_pkey PRIMARY KEY (id);


--
-- Name: idx_financial_account_collectivity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_financial_account_collectivity ON public.financial_account USING btree (collectivity_id);


--
-- Name: idx_membership_fee_collectivity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_membership_fee_collectivity ON public.membership_fee USING btree (collectivity_id);


--
-- Name: assignment assignment_collectivity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_collectivity_id_fkey FOREIGN KEY (collectivity_id) REFERENCES public.collectivity(id) ON DELETE CASCADE;


--
-- Name: assignment assignment_federation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_federation_id_fkey FOREIGN KEY (federation_id) REFERENCES public.federation(id) ON DELETE CASCADE;


--
-- Name: assignment assignment_mandate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_mandate_id_fkey FOREIGN KEY (mandate_id) REFERENCES public.mandate(id) ON DELETE RESTRICT;


--
-- Name: assignment assignment_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.member(id) ON DELETE CASCADE;


--
-- Name: assignment assignment_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(id) ON DELETE RESTRICT;


--
-- Name: collectivity collectivity_federation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectivity
    ADD CONSTRAINT collectivity_federation_id_fkey FOREIGN KEY (federation_id) REFERENCES public.federation(id) ON DELETE SET NULL;


--
-- Name: collectivity_transaction collectivity_transaction_collectivity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectivity_transaction
    ADD CONSTRAINT collectivity_transaction_collectivity_id_fkey FOREIGN KEY (collectivity_id) REFERENCES public.collectivity(id) ON DELETE CASCADE;


--
-- Name: collectivity_transaction collectivity_transaction_financial_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectivity_transaction
    ADD CONSTRAINT collectivity_transaction_financial_account_id_fkey FOREIGN KEY (financial_account_id) REFERENCES public.financial_account(id) ON DELETE RESTRICT;


--
-- Name: collectivity_transaction collectivity_transaction_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectivity_transaction
    ADD CONSTRAINT collectivity_transaction_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.member(id) ON DELETE RESTRICT;


--
-- Name: collectivity_transaction collectivity_transaction_membership_fee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectivity_transaction
    ADD CONSTRAINT collectivity_transaction_membership_fee_id_fkey FOREIGN KEY (membership_fee_id) REFERENCES public.membership_fee(id) ON DELETE RESTRICT;


--
-- Name: financial_account financial_account_collectivity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financial_account
    ADD CONSTRAINT financial_account_collectivity_id_fkey FOREIGN KEY (collectivity_id) REFERENCES public.collectivity(id) ON DELETE CASCADE;


--
-- Name: member_payment member_payment_financial_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_payment
    ADD CONSTRAINT member_payment_financial_account_id_fkey FOREIGN KEY (financial_account_id) REFERENCES public.financial_account(id) ON DELETE RESTRICT;


--
-- Name: member_payment member_payment_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_payment
    ADD CONSTRAINT member_payment_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.member(id) ON DELETE CASCADE;


--
-- Name: member_payment member_payment_membership_fee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_payment
    ADD CONSTRAINT member_payment_membership_fee_id_fkey FOREIGN KEY (membership_fee_id) REFERENCES public.membership_fee(id) ON DELETE RESTRICT;


--
-- Name: membership membership_collectivity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership
    ADD CONSTRAINT membership_collectivity_id_fkey FOREIGN KEY (collectivity_id) REFERENCES public.collectivity(id) ON DELETE CASCADE;


--
-- Name: membership_fee membership_fee_collectivity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership_fee
    ADD CONSTRAINT membership_fee_collectivity_id_fkey FOREIGN KEY (collectivity_id) REFERENCES public.collectivity(id) ON DELETE CASCADE;


--
-- Name: membership membership_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership
    ADD CONSTRAINT membership_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.member(id) ON DELETE CASCADE;


--
-- Name: sponsorship sponsorship_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sponsorship
    ADD CONSTRAINT sponsorship_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.member(id) ON DELETE CASCADE;


--
-- Name: sponsorship sponsorship_sponsor_collectivity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sponsorship
    ADD CONSTRAINT sponsorship_sponsor_collectivity_id_fkey FOREIGN KEY (sponsor_collectivity_id) REFERENCES public.collectivity(id) ON DELETE RESTRICT;


--
-- Name: sponsorship sponsorship_sponsor_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sponsorship
    ADD CONSTRAINT sponsorship_sponsor_member_id_fkey FOREIGN KEY (sponsor_member_id) REFERENCES public.member(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict 5bfJdKwrVgXA0WXEqNwgFghZqSXBkvf9L99fsau6JE8ega7j7VsBvOJMcV3lZeh

